/* BoringBay */

.boringbay {
  margin-top: 8px;
}

/* PostAI */

.postAI-box {
  display: flex;
  align-items: start;
  margin: 25px 0;
}

.postAI-icon {
  background: var(--efu-secondbg);
  border: 1px solid var(--efu-main);
  border-radius: 8px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postAI-icon:hover svg {
  animation: jump .5s;
}

.postAI-icon svg {
  width: 20px;
  height: 20px;
  fill: var(--efu-main);
}

.postAI-icon svg path {
  fill: var(--efu-main)
}

.talk-container {
  border: 1px solid var(--efu-main);
  margin-left: 25px;
  max-width: calc(100% - 65px);
  border-radius: 8px;
  position: relative;
}

.talk-container::before {
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  border: 1px solid var(--efu-main);
  left: -8px;
  top: 9px;
  background: var(--efu-secondbg);
  border-top: none;
  border-right: none;
  transform: rotate(44deg);
}

.postAI-talk {
  line-height: 1.7;
  background: var(--efu-secondbg);
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
}


.shrink {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

span.postAI-content {
  z-index: 1;
  position: relative;
}

.blinking-cursor {
  background-color: var(--efu-main);
  width: 2px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  animation: blinking-cursor 1s infinite;
  -webkit-animation: blinking-cursor 1s infinite;
  margin-left: 4px;
  margin-top: -5px;
}

.jump {
  animation: jump .5s;
}

@media screen and (max-width: 768px) {
  .talk-container {
    margin-left: 15px;
    max-width: calc(100% - 55px);
  }

  .postAI-talk {
    padding: 7px 10px;
  }
}

@keyframes jump {

  25%,
  75% {
    transform: translateY(-3px);
  }

  50%,
  100% {
    transform: translateY(0);
  }
}

@keyframes blinking-cursor {
  0% {
    opacity: 1
  }

  40% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  90% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

/* 十年之约 */

@media screen and (max-width: 768px) {
  #page-header.nav-fixed #foreverblog_button {
    opacity: 0;
  }
}
#foreverblog_button {
  display: inline;
  padding: 0 0.4rem;
  transition: 0.3s;
}
@media screen and (max-width: 1200px) {
  #foreverblog_button {
    display: none;
  }
}

/* 那年今日 */

#aside-content .card-history .swiper-wrapper {
  flex-direction: column
}

#aside-content .card-history .item-headline {
  margin-left: 0;
}

#aside-content .card-history .history_slide {
  text-align: left;
  display: flex !important;
  flex-direction: column;
  align-items: flex-start
}

#aside-content .card-history .history_slide_time {
  color: var(--efu-secondtext);
  font-size: 14px;
  font-style: italic;
  font-weight: lighter
}

#aside-content .card-history .history_slide_link {
  line-height: 1.5;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical
}

#aside-content .card-history .history_slide_link a {
  color: var(--efu-main);
  padding: 0 4px;
  border-radius: 4px
}

#aside-content .card-history .history_slide_link a:hover {
  color: var(--efu-white);
  background: var(--efu-main)
}

/* 新年侧边栏

#newYear {
    color: var(--efu-card-bg);
    padding: 0 !important;
   }
   
   #newYear p,
   #newYear h3 {
    font-weight: normal;
    color: inherit;
    margin: 0;
   }
   
   #newYear .item-headline {
    display: none;
   }
   
   #newYear-main {
    min-height: 160px;
    padding: 1rem;
    position: relative;
    border-radius: 12px;
    background-color: var(--efu-theme);
   }
   
   #newYear-main * {
    position: relative;
    line-height: 1.3;
   }
   
   #newYear-main .newYear-time {
    font-weight: bold;
    text-align: center;
   }
   
   #newYear-main .time,
   #newYear-main .happyNewYear {
    font-size: 2rem;
    text-shadow: 2px 2px 2px red;
    margin: 1rem 0;
    display: block;
   }
   
   #newYear-main .day {
    font-size: 3.6rem;
   }
   
   #newYear-main .day .unit {
    font-size: 1rem;
   }
    */